/* Set variables to use in this document */
:root {
  --main-text: 'Montserrat', sans-serif;

  --main-color: #211d72;
  --secondary-color: #07b0e4;
  --footer-color: #150046;
  --navbar-color: #272476;
  --black-text-color: #555555;
  --orange-bg: #f39208;
  --orange-highlight: #ff8d3d;
  --orange-light: #fdddb0;
  --white-color: white;

  --default-padding: 80px 128px;
}

/* reset margins and paddings, and set font-family "Montserrat" as default and general styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-text);
}

section h2.section-title {
  width: 100%;
  height: 48px;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.page-selected {
  color: var(--orange-highlight) !important;
  border-bottom: 2px solid var(--orange-bg) !important;
}

.title-center {
  padding-left: 128px !important;
}

.page-center {
  width: 100% !important;
  justify-content: center;
}

/* Styles for header and navbar begins */

header.navbar {
  width: 100%;
  height: 100px;
  padding: 0 128px;
  background-color: var(--navbar-color);
  position: fixed;
}

header.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

ul.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

ul.navbar-links > li {
  margin-right: 40px;
}

ul.navbar-links > li:hover:not(:last-child) {
  border-bottom: 1px solid var(--orange-bg);
}

ul.navbar-links > li:last-child {
  margin-right: 0;
}

ul.navbar-links > li > a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

ul.navbar-links > li:last-child > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 10px;
  background-color: var(--orange-bg);
}

ul.navbar-links > li:hover > a {
  font-weight: 600;
}

/* Styles for header and navbar ends */

/* Styles for hero section begins */

section.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 250px 128px 80px;
  background: url('assets/bg-images/small_spring.png') 0 195px no-repeat, url('assets/bg-images/small_ring.png') 59% 530px no-repeat,
    url('assets/bg-images/small_tube.png') var(--main-color) 100% 200px no-repeat;
}

article.hero-welcome {
  width: 60%;
  height: 300px;
  color: white;
}

article.hero-welcome h1.hero-welcome__title {
  width: 100%;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

article.hero-welcome p.hero-welcome__text {
  width: 78%;
  height: 80px;
  margin-bottom: 32px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #bababa;
}

article.hero-welcome a.hero-welcome__button {
  text-decoration: none;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background-color: var(--orange-bg);
  border-radius: 10px;
  color: white;
}

section.hero > img {
  padding-right: 20px;
}

/* Styles for hero section ends */
