/* Set variables to use in this document */
:root {
  --main-text: 'Montserrat', sans-serif;

  --main-color: #211d72;
  --secondary-color: #07b0e4;
  --footer-color: #150046;
  --navbar-color: #272476;
  --black-text-color: #555555;
  --orange-bg: #f39208;
  --orange-highlight: #ff8d3d;
  --orange-light: #fdddb0;
  --white-color: white;

  /* --default-padding: 90px 128px; */
  --default-padding: 7.5% 10.7%;
}

/* reset margins and paddings, and set font-family "Montserrat" as default and general styles*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-text);
}

section h2.section-title {
  width: 100%;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.page-selected {
  color: var(--orange-highlight) !important;
  border-bottom: 4px solid var(--orange-bg) !important;
}

.page-selected--blue {
  color: var(--main-color) !important;
  border-bottom: 4px solid var(--main-color) !important;
}

.title-center {
  padding-left: 128px !important;
}

.page-center {
  width: 100% !important;
  justify-content: center;
}

.benefit-top {
  align-items: flex-start !important;
}

/* Styles for header and navbar begins */

header.navbar {
  width: 100%;
  height: 100px;
  padding: 0 128px;
  background-color: var(--navbar-color);
  position: fixed;
  transition-duration: 0.3s;
}

header.navbar nav.colapsed-menu {
  display: none;
}

.less-navbar {
  height: 70px !important;
}

header.navbar nav.full-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

img.brand-logo {
  width: 200px;
  height: 40px;
}

ul.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

ul.navbar-links > li {
  margin-right: 40px;
}

ul.navbar-links > li:hover:not(:last-child) {
  border-bottom: 1px solid var(--orange-bg);
}

ul.navbar-links > li:last-child {
  margin-right: 0;
}

ul.navbar-links > li > a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

ul.navbar-links > li:last-child > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--orange-bg);
}

ul.navbar-links > li:hover > a {
  font-weight: 600;
}

.link-selected {
  border-bottom: 2px solid var(--orange-bg) !important;
}

.link-active {
  font-weight: 600 !important;
  color: var(--orange-bg) !important;
}

/* Styles for header and navbar ends */

/* Styles for hero section begins */

section.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 250px 10.7% 7.5%;
  background: url('assets/bg-images/small_spring.png') 0 195px no-repeat, url('assets/bg-images/small_ring.png') 59% 530px no-repeat,
    url('assets/bg-images/small_tube.png') var(--main-color) 100% 200px no-repeat;
}

article.hero-welcome {
  width: 60%;
  height: 300px;
  color: white;
}

article.hero-welcome h1.hero-welcome__title {
  width: 100%;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

article.hero-welcome p.hero-welcome__text {
  margin-bottom: 32px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #bababa;
}

article.hero-welcome a.hero-welcome__button,
article.hero-welcome a.hero-welcome__button--responsive {
  text-decoration: none;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background-color: var(--orange-bg);
  border-radius: 10px;
  color: white;
}

article.hero-welcome a.hero-welcome__button--responsive {
  display: none;
}

section.hero > img {
  padding-right: 20px;
}

/* Styles for hero section ends */

/* Styles for what is Brillamont On Demand begins */

section.what-is-bod {
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
  background-color: var(--main-color);
}

section.article-pages {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

section.article-pages a.article-page__title {
  padding: 16px 24px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: white;
  border-bottom: 2px solid white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;
}

section.what-is-bod picture.what-is-bod-responsive {
  display: none;
}

section.what-is-bod section.bod-description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.what-is-bod section.bod-description-container article.bod-description {
  width: 55%;
}

section.bod-description-container article.bod-description h4.bod-description__title {
  width: 100%;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

section.bod-description-container article.bod-description p.bod-description__text {
  width: 97%;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

section.bod-description-container article.bod-description section.bod-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 0;
}

article.bod-description section.bod-benefits article.bod-benefit-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 32px;
}

section.bod-benefits article.bod-benefit-container img.bod-benefit__image {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

section.bod-benefits article.bod-benefit-container p.bod-benefit__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

section.what-is-bod section.bod-description-container img.bod-description__image {
  margin-right: 24px;
  box-shadow: 24px -24px 0 var(--orange-bg);
}

/* Styles for what is Brillamont On Demand ends */

/* Styles for how it works section begins */

section.how-it-works {
  width: 100%;
  height: 100%;
  padding: 90px 128px 80px 0;
  padding: var(--default-padding) 7.5% 0;
  color: white;
  background: url('assets/bg-images/small_shapes.png') no-repeat 100% 0 var(--main-color);
}

section.how-it-works section.steps-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-left: -128px;
  /* background-color: var(--orange-bg); */
  background-color: white;
}

section.how-it-works section.steps-container article.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 48px;
  border-top: 4px solid var(--orange-light);
  background-color: var(--orange-bg);
}

section.how-it-works section.steps-container article.step:first-child {
  padding-left: 128px;
}

section.how-it-works section.steps-container article.step:nth-child(even) {
  background-color: #f4a42f;
}

section.steps-container article.step img {
  width: 150px;
  height: 150px;
  margin-bottom: 48px;
}

section.steps-container article.step h3.step__title {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
section.steps-container article.step p.step__text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

section.steps-container article.step p.step__text--big {
  font-size: 32px;
  line-height: 40px;
}

section.how-it-works section.steps-container article.step:first-child {
  margin-left: 128px;
}

/* Styles for how it works section ends */

/* Styles for starts now begins */

section.starts-now {
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
  background: url('assets/bg-images/small_triangle.png') no-repeat 5% 12%, url('assets/bg-images/small_diamond.png') no-repeat 98% 9%,
    url('assets/bg-images/small_mid_ring.png') no-repeat 0 880px, url('assets/bg-images/small_gray_spring.png') no-repeat 96% 98% var(--main-color);
}

section.starts-now article.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section.starts-now article.form-container a {
  display: none;
}

section.starts-now article.form-container iframe.form-container__content {
  border: none;
  background-color: #dee0ee;
  /* box-shadow: -40px -40px 0 var(--orange-bg), -40px 40px 0 var(--orange-bg); */
}

/* Styles for starts now ends */

/* Styles for dues begins */

section.dues {
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
  color: white;
  background: url('assets/bg-images/small_mid_ring.png') no-repeat 0 -100px var(--secondary-color);
}

section.dues h3.section-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 48px 0;
  text-align: center;
}

section.dues article.prices-table {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section.dues article.prices-table table {
  width: 350px;
  border-collapse: collapse;
  background-color: white;
}

.full-table {
  width: 100% !important;
}

.less-space {
  width: 0 !important;
  padding-left: 16px !important;
}

.lowercase {
  text-transform: capitalize !important;
}

article.prices-table table thead tr {
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: white;
  background-color: var(--orange-bg);
}

article.prices-table table tr {
  height: 56px;
  color: var(--black-text-color);
}

article.prices-table table td,
article.prices-table table th {
  width: 55%;
  padding-left: 32px;
}

article.prices-table table td:first-child {
  font-weight: 500;
  text-transform: uppercase;
}

article.prices-table table tr:nth-child(even) {
  background-color: rgba(204, 204, 204, 0.24);
}

section.dues h4.caption {
  width: 100%;
  margin: 32px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

section.dues article.responsive-elements {
  display: none;
}

/* Styles for dues ends */

/* Styles for FAQ's begins */

section.faqs {
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
  color: white;
  background: var(--main-color);
}

section.faqs article.faq-box {
  margin: 24px 0;
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--orange-bg);
}

section.faqs article.faq-box h3.faq-box__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

section.faqs article.faq-box p.faq-box__text {
  width: 90%;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.box-uncollapsed {
  flex-direction: column !important;
  align-items: flex-start !important;
  background-color: var(--secondary-color) !important;
}

.faq-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.box-uncollapsed__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

article.faq-box img {
  cursor: pointer;
}

/* Styles for FAQ's ends */

/* Styles for doubts begins */

section.doubts {
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
  background: url('assets/bg-images/small_polygon.png') no-repeat 0 0 var(--main-color);
}

section.doubts h2.section-title--doubts {
  width: 100%;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
}

section.doubts p.doubts__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #bababa;
}

section.doubts a.doubts__email {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--orange-bg);
}

section.doubts p.doubts__text,
section.doubts a.doubts__email {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 24px 0;
}

/* Styles for doubts ends */

/* Styles for footer begins */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
  color: white;
  background-color: var(--footer-color);
}

footer section.brand img,
footer section.social-media p {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}

footer section.brand p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

footer section.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer section.social-media a {
  margin-right: 18px;
}

footer section.social-media a:last-child {
  margin-right: 0;
}

/* Styles for footer ends */
